.section-2{
    /* margin-top: -20% ; */
    height: 500px;
    background-color: var(--light-primary);
    z-index: 1;
}

.section-2__content{

}

.section-2__content img{
    object-fit: cover;
    height: 500px;
}

.section-2__content-paragraph{
    flex-direction: column;
    justify-content: center;
    height: 500px;
    display: flex !important;
}

.section-2__content-paragraph p{
    margin-bottom: 16px;
}

.section-2__content-paragraph button{
    background: var(--primary);
    border: 1px solid var(--primary);
    max-width: 120px;

}

.section-2__container{
    transform: translateY(20%);
    opacity: 0;
    transition: all 0.8s linear;
}

.section-2__container.active{
    transform: translateY(0);
    opacity: 1;
}
