.home-section{
    background-image: url("../../img/home-first-thumb.jpg");
    height: 700px;
    background-size: cover;
    background-position: bottom center;
}

.home-section__cover{
    height: 100%;
    width: 100%;
    background: var(--background-home-linear);
    z-index: -1;

}

.home-section__content{
    height: 700px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.home-section__topic{
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.home-section__title{
    margin-bottom: var(--space-24);
}

.home-section__links{
    font-size: 1.4rem;

}

.home-section__button{
    background-color: var(--yellow-primary);
    border: 1px solid var(--yellow-primary);
    padding: 16px 24px;
    font-size: 1.4rem;
}

.home-section__link{
    padding: 9px 12px;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
}
