@keyframes flowOn {
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flowDown{
    from{
        transform: translateY(-20%);
        opacity: 0;

    }
    to{
        transform: translateY(0);
        opacity: 1;

    }
}