.title{
    color: #000;
    margin-bottom: var(--space-24);
    line-height: 2;
}

.title-blog{
    font-size: 1.5rem;
    font-family: var(--font-decor);
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
}

.tag{
    color: var(--yellow-primary);
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.white{
    color: #fff;
}

.yellow{
    color: var(--yellow-primary);
}

.background-yellow{
    background-color: var(--yellow-primary)
}

.background-primary{
    background-color: var(--primary);
}

.opacity{
    opacity:0.8;
}

.opacity-header{
    opacity: 0.4
}

.section__title{
    text-align: center;
    margin-bottom: var(--space-48);
}

.center{
    text-align: center;
}

.button{
    border:none;
}

input{
    border: 1px solid #6666;
    outline: none;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column-reverse{
    flex-direction: column-reverse;
}