
.blogs-1{
    animation: flowOn linear 0.4s
}


.blog__block{
    background-color: #fff;
    position: relative;
}

.blog__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog__info-container{
    display: flex;
    margin: 0 8px;
    justify-content: space-between;
    padding: 15px 5px;
    font-size: 0.9rem;
    background-color: var(--light-primary);
    position: absolute;
    top: 200px;
    font-weight: 600;
    transform: translateY(-50%) translateX(5%) ;

}


.blog__info{
    display: flex;
}

.blog__info-icon{
    margin-right: 3px;
}

.blog__info-text{
    text-transform: uppercase;
}



.blog__content-paragraph{
    padding: var(--space-48) 20px 20px 20px;
}


.blog__desc{
    margin-bottom:16px;
}

.blog__button{
    font-size: 1.2rem;
}

.blog__home-container{
    transform: translateY(20%);
    opacity: 0;
    transition: all 0.8s linear;
}

.blog__home-container.active.home__blog-1{
    opacity: 1;
    transform: translateY(0);
}

.blog__home-container.active.home__blog-2{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.8s linear;

}

.blog__home-container.active.home__blog-3{
    opacity: 1;
    transform: translateY(0);
    transition: all 2.8s linear;

}


